@charset 'UTF-8';





@font-face {
    font-family: 'titulo';
    src: url(../../fontes/Handlee-Regular.ttf);
}

@font-face {
    font-family: 'ruby';
    src: url(../../fontes/RubikDirt-Regular.ttf);
}

@font-face {
    font-family: 'lione';
    src: url(../../fontes/LeckerliOne-Regular.ttf);
}

@media  (max-width:767px) {
    


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{

    background-color: #201816;
    
    

}

header{
    
    background-color: #332013;
    height: 120px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}



header>div#img-logo>img{

   height: 120px;
   
}



header>.btn-menu > i{
   
    color:white;
    font-size: 30pt;
    padding: 10px;
    display: none;
   
}

header>nav{

    width:600px;
    display: none;
    
}

header > nav >a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    position: relative;
    
}

header > nav > a::after{

    content: '';
    position: absolute;
    top: 25px;
    left:0;
    width: 0;
    height: 1px;
    background-color: yellow;
    transition: .3s;
    
}

header > nav > a:hover::after{

    width: 100%;
    
}

header > nav> a:hover{

    color: yellow;
    transition: .3s;
    
        
}

/*MENU - HAMBURGUINHO*/

button#btn-menu{

    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

button#btn-menu > .linha{

    width: 40px;
    height: 3px;
    margin: 10px auto;
    background-color: white;
    display: block;
    position: relative;
    transform-origin: center;
    transition: 0.2s;

}



button.ativar .linha:nth-child(1){

    
    transform: translateY(13px) rotate(-45deg);
    
}

button.ativar .linha:nth-child(3){

    
    transform: translateY(-13px) rotate(45deg);
    
}

button.ativar .linha:nth-child(2){

    opacity: 0;
}


/*MENU MOBILE*/




#menu-mobile{

    background-color: #282828b5;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 120px;
    left: 0;
    width: 100vw;
    height: 0;
    visibility: hidden;
    transition: .5s ;
    overflow: hidden;
    
}
#menu-mobile > nav > a{

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16pt;
    display: block;
    padding: 20px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: 0.3s;

}

/*MENU MOBILE*/

#menu-mobile > nav > a:hover{

    background-color:rgba(255, 255, 255, 0.348);
    
    color: black;
}

#menu-mobile.abrir{
   visibility: visible;
   height: 100vh;
}

/*BACKGROUND*/

.back{

    background: url(../../imagens/img-section-1.jpg) no-repeat center center;
    background-size: cover;
    height: 360px;
   
    position: relative;
}

div.vidro{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.509);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.back > .titulo-desc{

    width: 100vw;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
}

.back > .titulo-desc > h1{

    color: white;
    font-size: 40pt;
    text-align: center;
    font-family:'titulo';
    font-weight: 200px;
    
}

/*DESCRICAO*/

.descricao{

    width: 100vw;
    
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    
}

.descricao > .img-desc{
    margin: auto;
    margin-top: 80px;
    height: 200px;
}

.descricao > .img-desc > img{
  
    
    height: 200px;
    
   
   
}

.descricao > .txt-desc{

 
    margin-top:-12px;
    width: 85vw;
    margin: auto;

}

.descricao > .txt-desc > .titulo{

    text-align: center;
    font-size: 30pt;
    color: #ba744b;
    font-family: 'ruby';
    font-weight: normal;
    margin-bottom: 20px;
}

.descricao > .txt-desc > .desc-produto{

    color: white;
    font-size: 16pt;
  
    font-weight: normal;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*FOOTER*/

.interface{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #191413;
    
    
}




footer >.linha{
    
    padding: 10px;
    width: 100vw;
    margin-bottom: 20px;
    
}

.linha > h3{
    text-align: center;
    margin-top: 12px;
    font-family: 'lione';
    font-weight: normal;
    color: #59341b;
    font-size: 20pt;
}

.linha > .links > a{
    display: flex;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in-out;
}

.linha > .links > a:hover{

    color: #754424;
}

.redes{

    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

.linha > .redes > a{

    
 
    text-align: center;
    color: #754424;
    text-decoration: none;
    
    

    
}

.linha > .redes > a > span > i{

    color: white;
    font-size: 22pt;
    transition: 0.2s ease-in-out;
    padding: 15px;
}

.linha > .redes > a> span > i:hover{

    color: #754424;

}

.linha#linha4{

    text-align: center;
    background-color: #332013;
    color: white;
    font-size: 14pt;
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px;
}

}







