@charset 'UTF-8';





@font-face {
    font-family: 'titulo';
    src: url(../../fontes/Handlee-Regular.ttf);
}

@font-face {
    font-family: 'ruby';
    src: url(../../fontes/RubikDirt-Regular.ttf);
}

@font-face {
    font-family: 'lione';
    src: url(../../fontes/LeckerliOne-Regular.ttf);
}


@media screen and (min-width:1024px) {
    


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{

    background-color: #201816;
    
    

}

header{
    
    background-color: #332013;
    height: 160px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}



header>div#img-logo>img{

    height: 180px;
   
    padding: 10px;
}

header>nav{

    width: 600px;
    
}

header > nav >a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    position: relative;
    
}

header > nav > a::after{

    content: '';
    position: absolute;
    top: 25px;
    left:0;
    width: 0;
    height: 1px;
    background-color:#ba744b;
    transition: .3s;
    
}

header > nav > a:hover::after{

    width: 100%;
    
}

header > nav> a:hover{

    color: #ba744b;
    transition: .3s;
    
        
}

main{

    margin: auto;
    margin-top: 130px;
    margin-bottom: 60px;
    
}


#menu-mobile{
    display: none;
}

#btn-menu{
    display: none;
}

/*BACKGROUND*/

.back{

    background: url(../../imagens/img-section-1.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
  
    position: relative;
}

div.vidro{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.509);
    backdrop-filter: blur(2px);
    z-index: 1;
}


.back > .titulo-desc{

    width: 70vw;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.back > .titulo-desc > h1{

    color: white;
    font-size: 60pt;
    text-align: center;
    font-family:'titulo';
    font-weight: 200px;
    
}

/*DESCRICAO*/

.descricao{

   width: 90vw;
    
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.descricao > .img-desc > img{

    
    height: 400px;
   
   
}

.descricao > .txt-desc{

 
    margin-top:-12px;
    width: 40vw;

}

.descricao > .txt-desc > .titulo{

  
    font-size: 40pt;
    color: #ba744b;
    font-family: 'ruby';
    font-weight: normal;
    margin-bottom: 10px;
}

.descricao > .txt-desc > .desc-produto{

    color: white;
    font-size: 20pt;
    line-height: 25pt;
    font-family: Arial, Helvetica, sans-serif;
}


/*FOOTER*/

.interface{

    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #191413;
    
    
}




.linha{
    
    padding: 10px;
}

.linha > h3{

    font-family: 'lione';
    font-weight: normal;
    color: #59341b;
    font-size: 40pt;
}

.linha > .links > a{
    display: flex;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in-out;
}

.linha > .links > a:hover{

    color: #754424;
}

.redes{
    background-color: transparent;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

.linha > .redes > a{

    
    color: #754424;
    text-align: center;
    
    text-decoration: none;
    
    margin-right: 15px;
    
    transition: 0.2s ease-in-out;
}

.linha > .redes> a > span > i{

    color: white;
    font-size: 32pt;
    padding: 15px;
    transition:0.2s ease-in-out ;
}

.linha > .redes > a> span > i:hover{

    color: #754424;
  

}

.linha#linha4{

    text-align: center;
    background-color: #332013;
    color: white;
    font-size: 16pt;
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px;
}

}







