@charset 'UTF-8';

@font-face {
    font-family: 'Ruby';
    src: url(../../fontes/RubikDirt-Regular.ttf);

}

@font-face {
    font-family: 'storm';
    src: url(../../fontes/RubikStorm-Regular.ttf);
}

@font-face {
    font-family: 'lione';
    src: url(../../fontes/LeckerliOne-Regular.ttf);
}


@media  (min-width:1024px) {
    


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{

    background-color:#0a0909;

}

header{
    
    background-color: #432c24;
    height: 120px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}



header>div#img-logo>img{

    height: 145px;
    width: 300px;
    padding: 10px;
}

header>nav{

    width: 600px;
    
}

header > nav >a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    position: relative;
    
}

header > nav > a::after{

    content: '';
    position: absolute;
    top: 25px;
    left:0;
    width: 0;
    height: 1px;
    background-color: yellow;
    transition: .3s;
    
}

header > nav > a:hover::after{

    width: 100%;
    
}

header > nav> a:hover{

    color: yellow;
    transition: .3s;
    
        
}

main{

    margin: auto;
    margin-top: 120px;
    
}

#menu-mobile{
    display: none;
}

#btn-menu{
    display: none;
}

/*MENU CARDAPIO*/

.cardapio{

    background: url(../../imagens/img-section-1.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
    
}

.cardapio > .blur{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.491);
    backdrop-filter: blur(2px);
}

.cardapio > .blur > #container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.cardapio> .blur> #container > h1{

    text-align: center;
    margin-bottom: 80px;
    
    
    font-size: 60pt;
    font-family: 'lione';
    color:#ba744b;
}

.menu-cardapio{
   
    margin: auto;
    width: 80vw;
    text-align: center;
    margin-bottom: 80px;
    
   
}

.menu-cardapio > a{

    text-decoration: none;
    
    padding: 15px;
    
}

.menu-cardapio > a >span{

    font-size: 30pt;
}




/*LINK PRATOS*/

.menu-cardapio > a.link-pratos{
    font-family:'Ruby' ;
    color: white;
    font-size: 18pt;
    
    
    margin-bottom: 40px;
}   

.menu-cardapio >a.link-pratos:hover{

    color: #ffc765;
    transition: 0.2s;
}



.menu-cardapio > a.link-pratos >.icone>img{

   
   
    margin-right: 6px;
    height: 45px;
  
    transition: all, 0.2s;
}

.menu-cardapio > a.link-pratos:hover .icone>img{

    
    filter:sepia(2000%) saturate(3000%) hue-rotate(-40deg) brightness(80%);
    

    
   
}

/*LINK-SALADAS*/

.menu-cardapio > a.link-saladas{
    font-family:'Ruby' ;
    color: white;
    font-size: 18pt;
    
  
    margin-bottom: 40px;
}   

.menu-cardapio >a.link-saladas:hover{

    color: rgb(255, 199, 101);
    transition: 0.3s;
}



.menu-cardapio > a.link-saladas >.icone>img{

   
   
    margin-right: 6px;
    height: 45px;
    
 
    transition: all, 0.3s;
}

.menu-cardapio > a.link-saladas:hover .icone>img{

    
    filter:sepia(2000%) saturate(3000%) hue-rotate(-40deg) brightness(80%);
    
   
}

/*LINK SOBREMESAS*/ 

.menu-cardapio > a.link-sobremesas{
    font-family:'Ruby' ;
    color: white;
    font-size: 18pt;
    
 
    margin-bottom: 40px;
}   

.menu-cardapio >a.link-sobremesas:hover{

    color: rgb(255, 199, 101);
    transition: 0.3s;
}



.menu-cardapio > a.link-sobremesas >.icone>img{

   
   
    margin-right: 6px;
    height: 45px;
    
   
    transition: all, 0.3s;
}

.menu-cardapio > a.link-sobremesas:hover .icone>img{

    
    filter:sepia(2000%) saturate(3000%) hue-rotate(-40deg) brightness(80%);
    
   
}

/*LINK BEBIDAS*/

.menu-cardapio > a.link-bebidas{
    font-family:'Ruby' ;
    color: white;
    font-size: 18pt;
    
    
    margin-bottom: 40px;
}   

.menu-cardapio >a.link-bebidas:hover{

    color: rgb(255, 199, 101);
    transition: 0.3s;
}



.menu-cardapio > a.link-bebidas >.icone>img{

   
   
    margin-right: 4px;
    height: 45px;
    
    transition: all, 0.3s;
}

.menu-cardapio > a.link-bebidas:hover .icone>img{

    
   filter:sepia(2000%) saturate(3000%) hue-rotate(-40deg) brightness(80%);
    
   
}

/*CARDAPIO*/

section.cardapio2{

    
    margin: auto;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    justify-items: center;

    
   max-width: 1300px;
        
}







.cardapio2 >  .container> a >.txt-sobre-img >span{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    left: 50%;
    padding: 80px;
    
    transform: translate(-50%, -40%);
}

.cardapio2> .container > a > .txt-sobre-img> span{

    color: black;
}


.container{

    position: relative;
    display: inline-block;
    height: 280px;
    margin-bottom: 20px;
    margin-right: 10px;
    overflow: hidden;

}

.container > a > .txt-sobre-img{

    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    

}

.container:hover  .txt-sobre-img{

    opacity: 1;
    animation: zoom .3s ease-in-out;
   
}

.container > img{

    height: 280px;
    margin-bottom: 40px;
    border-radius: 5px;
    object-fit: cover;
}

.container:hover .imagem {

    transform: scale(1.2);
    filter: blur(5px);
    transition: 0.6s;
    
}
@keyframes zoom {
    
    0%{
        transform: scale(0);
        
        
    }

    100%{

        transform: scale(1.05);
    }
}


/*BEBIDAS*/



section.cardapio2#secao4{

    
    margin: auto;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    justify-items: center;

    
    max-width: 1300px;
        
}


}







